html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}
body
{
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	background-image: url(https://www.transparenttextures.com/patterns/green-gobbler.png), linear-gradient( 113.1deg,  rgba(254,140,48,1) 14%, rgba(253,75,101,1) 80.5%, rgba(255,53,109,1) 100.6% );
	background-blend-mode: overlay;
	color: #031b4e;
}

.info {

  min-height: 0;
  transition: .5s;
}

@media screen and (max-height: 400px) {
  .info {
  	font-size: 8pt;
    min-height: 50px;
  }
}

.login-container
{
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
}

.login-box
{
	box-sizing: border-box;
	background: #FFFFFF;
	width: 100%;
	margin: 0 auto;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
-webkit-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
}

.puple
{
	background: rgba(255,53,109,1);
}

.purple-outline
{
	border: none;
	border: 2px solid rgba(255,53,109,1);
	color: rgba(255,53,109,1);
}

.puple input:active {
	border: 1px solid #6F02B5;
}

.copy
{
	color: #FFFFFF;
	font-weight: 600;
	width: 100%;
	text-align: center;
	font-size: 10pt;
	margin-top: 50px;
	opacity: 0.7;
}
