html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}
body
{
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	background-image: url(https://www.transparenttextures.com/patterns/green-gobbler.png), linear-gradient( 113.1deg,  rgba(254,140,48,1) 14%, rgba(253,75,101,1) 80.5%, rgba(255,53,109,1) 100.6% );
	background-blend-mode: overlay;
}

h1 {
	margin: 0;
}

.info {

  min-height: 0;
  transition: .5s;
  margin-bottom: 20px;
}

@media screen and (max-height: 400px) {
  .info {
  	transform: scale(0.0, 0.0);
  }

  .login-box
  {
  	transform: translateY(-40px);
  }
}

.login-container
{
	box-sizing: border-box;
	width: 100%;
	padding: 0  5px;
}

.login-box
{
	box-sizing: border-box;

	width: 100%;
	margin: 0 auto;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	transition: .5s;


}

.purple
{
	background: rgba(255,53,109,1);
}


.purple-outline
{
	border: none;
	background: #FFFFFF;
	height: 48px;
	line-height: 48px;
	color: rgba(255,53,109,1);
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.puple input:active {
	border: 1px solid #6F02B5;
}

.copy
{
	box-sizing: border-box;
	color: #FFFFFF;
	font-weight: 600;
	width: 100%;
	text-align: center;
	font-size: 10pt;
	margin-top: 50px;
	opacity: 0.7;
	padding: 0 40px;
}


.header {
	height: 200px;
	background: black;
}