/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/montserrat-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('fonts/montserrat-v14-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('fonts/montserrat-v14-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('fonts/montserrat-v14-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



/* ONLY FOR GISTS - REMOVE IN PRODUCTION VERSION */
.gist { width: 800px; margin-top: 20px; }
/* ONLY FOR GISTS - REMOVE IN PRODUCTION VERSION */


/* DEBUG ONLY - REMOVE IN PRODUCTION VERSION */
/* DEBUG ONLY - REMOVE IN PRODUCTION VERSION */

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

body	
{
  font-family: 'Montserrat';
  font-size: 12pt;
  color: #464555;
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 1 auto;
  overflow: auto;
  box-sizing: border-box;
  padding: 5px;
}
.footer {
  flex: 0 0 auto;
  height: 60px;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 20px 20px 0 0;
  -webkit-box-shadow: 0px 0px 20px -10px rgba(171,169,188,1);
  -moz-box-shadow: 0px 0px 20px -10px rgba(171,169,188,1);
  box-shadow: 0px 0px 20px -10px rgba(171,169,188,1);
  height: 60px;
  padding: 20px 20px;
  text-align: center;
}

.footer i 
{
  font-size: 16pt;
  color: #BDBAC4;
  margin-right: 35px;
}

.footer i:last-child
{
  margin: 0;
}

.active 
{
  color: #21D4FD;
  background: linear-gradient(135deg,#70F570,#07F7F7);

    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Buttons */

.button, button
{
  font-family: 'Montserrat';
  outline: 0;
  border: 0;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 600;
  background: #1563FF;
  color: #FFFFFF;
  height: 48px;
  line-height: 48px;
  border-radius: 5px;
  padding: 0 40px;
}

.outline
{
  background: #FFFFFF;
  color: #1563FF;
  border: 1px solid #1563FF;
  line-height: 46px;
  padding: 0 39px;
}

.light 
{
  color: #8B8B8B;
  border: 1px solid #8B8B8B;
}

/* Cards */

.card 
{
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px -10px rgba(171,169,188,1);
  -moz-box-shadow: 0px 0px 20px -10px rgba(171,169,188,1);
  box-shadow: 0px 0px 20px -10px rgba(171,169,188,1);
  padding: 20px;
  margin-bottom: 10px;
}

.card h1 
{ 
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 16pt;
}

/* Lists */

.list
{
  box-sizing: border-box;
  background: #FFFFFF;
}

.list-item
{
  border-bottom: 1px solid #EEEEEE;
  height: 55px;
  line-height: 54px;
  padding: 0 10px;
  white-space: nowrap;
}

.list-title
{
  background: #EEEEEE;
  height: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 8pt;
  font-weight: 700;
  padding: 0 10px;
}

/* Forms */
input[type=text],[type=password]
{
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  line-height: 46px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #aba9bc;
  color: #464555;
}

::placeholder
{
  color: #464555;
}

/* Notifications */

.notification-bage
{
  display: inline-block;
  background: #F80046;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 11pt;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  border-radius: 10px;
}


/* Additional */
.p-r {text-align: right;} /* Pull right */
.p-l {text-align: left;} /* Pull right */
.f-w {width: 100%;} /* Full width */
