
.flex            { display: flex; flex-wrap: wrap; }
.flex.\-top      { align-items: flex-start; }
.flex.\-middle   { align-items: center; }
.flex.\-bottom   { align-items: flex-end; }
.flex.\-stretch  { align-items: stretch; }
.flex.\-baseline { align-items: baseline; }
.flex.\-left     { justify-content: flex-start; }
.flex.\-center   { justify-content: center; }
.flex.\-right    { justify-content: flex-end; }
.flex.\-between  { justify-content: space-between; }
.flex.\-around   { justify-content: space-around; }

.cell            { box-sizing: border-box; flex-shrink: 0; }
.cell.\-fill     { width: 0; min-width: 0; flex-grow: 1; }
.cell.\-1    { width: calc(100% * 1 / 12); }
.cell.\-2    { width: calc(100% * 2 / 12); }
.cell.\-3    { width: calc(100% * 3 / 12); }
.cell.\-4    { width: calc(100% * 4 / 12); }
.cell.\-5    { width: calc(100% * 5 / 12); }
.cell.\-6    { width: calc(100% * 6 / 12); }
.cell.\-7    { width: calc(100% * 7 / 12); }
.cell.\-8    { width: calc(100% * 8 / 12); }
.cell.\-9    { width: calc(100% * 9 / 12); }
.cell.\-10   { width: calc(100% * 10 / 12); }
.cell.\-112  { width: calc(100% * 11 / 12); }
.cell.\-12   { width: 100%; }


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
*{ margin: 0; padding: 0; box-sizing: border-box; }
html, body { height: 100%; }

#app { height: 100%; }

body
{
	font-family: 'Inter', sans-serif;
	font-size: 12pt;
}

.navbar
{
	background: #000;
	color: #ffffff;
	width: 100%;
	padding: 5px;
}

.display 
{
	background: rgb(30,39,46);
	background: linear-gradient(0deg, rgba(30,39,46,1) 0%, rgba(53,59,72,1) 100%);
	width: 100%;
	height: 100%;
	padding: 15px 5px;
	color: #ffffff;
}

.app-icon
{
	background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
	width: 70px;
	height: 70px;
	border-radius: 40%;
	margin: 0 auto;
	text-align: center;
}

.app-name
{
	margin-top: 10px;
	text-align: center;
	text-shadow: 2px 2px 3px #000000;
}

.app-icon img
{
	filter: grayscale(100%) brightness(5);
	margin-top: 15px;
}

.orange
{
	background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
}

.blue { background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%); }
.juicy { background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%); }
.purple { background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%); }
.green { background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%); }

.app-mockup { margin-bottom: 10px; }