* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { height: 100%; }
body
{
	color: #3d464d;
	font-family: Arial;
	font-size: 11pt;
	user-select: none;
	background: #353943;
}

.bottom-navbar
{
	position: absolute;
	bottom: 0;
	height: 70px;
	line-height: 70px;
	background: rgb(53,57,67);
	background: linear-gradient(0deg, rgba(53,57,67,1) 0%, rgba(65,70,80,1) 100%);
	width: 100%;
	border-top: 1px solid #4e535c;
	outline: 1px solid #1c1e23;
}

.bottom-navbar i
{
	text-shadow: 0px 0px 2px #353842;
	font-size: 18pt;
	color: #9599a0;
}

.bottom-navbar-item
{
	display: inline-block;
	text-align: center;
	border-right: 1px solid #2b2f37;
	width: 70px;
	height: 100%;
}

.active
{
	background: #23262e;
	outline: 0;
	-webkit-box-shadow: inset 0px 0px 10px 10px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px 0px 10px 10px rgba(0,0,0,0.4);
	box-shadow: inset 0px 0px 10px 10px rgba(0,0,0,0.4);
}

.active i 
{
	color: #e8692c;
	text-shadow: 0px 0px 10px #F48443;
}