* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { height: 100%; }
body
{
	color: #ffffff;
	font-family: Arial;
	font-size: 11pt;
	user-select: none;
	background: #353943;
}

.bottom-navbar
{
	position: absolute;
	bottom: 0;
	height: 60px;
	line-height: 60px;
	background: rgb(53,57,67);
	background: linear-gradient(0deg, rgba(53,57,67,1) 0%, rgba(65,70,80,1) 100%);
	width: 100%;
	border-top: 1px solid #4e535c;
	outline: 1px solid #1c1e23;
	z-index: 1;
}

.bottom-navbar i
{
	text-shadow: 0px 0px 2px #353842;
	font-size: 18pt;
	color: #9599a0;
}

.bottom-navbar-item
{
	display: inline-block;
	text-align: center;
	border-right: 1px solid #2b2f37;
	width: 70px;
	height: 100%;
}

.active
{
	background: #23262e;
	outline: 0;
-webkit-box-shadow: inset 0px 0px 10px 0px rgba(44,48,56,1);
-moz-box-shadow: inset 0px 0px 10px 0px rgba(44,48,56,1);
box-shadow: inset 0px 0px 10px 0px rgba(44,48,56,1);
}

.active i 
{
	color: #005ff9;
	text-shadow: 0px 0px 10px #005ff9;
}

.map
{
	width: 100%;
	height: 100%;
	z-index: 0;
}

.navbar
{
	position: absolute;
	top: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: rgb(53,57,67);
	background: linear-gradient(0deg, rgba(53,57,67,1) 0%, rgba(65,70,80,1) 100%);
	border-bottom: 1px solid #1c1e23;
}

.switch
{
	height: 30px;
	line-height: 30px;
	width: 60px;
	background: #31353f;
	display: inline-block;
	border-radius: 20px;
transition: 0.5s;
}

.circle
{
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 17px;
	margin: 3px 0 0 3px;
	background: rgb(134,137,144);
	background: linear-gradient(0deg, rgba(134,137,144,1) 0%, rgba(149,153,160,1) 100%);
	transition: 0.5s;
}

.order-notification
{
	z-index: 3;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgb(53,57,67);
	background: linear-gradient(0deg, rgba(53,57,67,1) 0%, rgba(65,70,80,1) 100%);
	border-bottom: 1px solid #1c1e23;
	padding: 10px;
		border-top: 1px solid #4e535c;
	outline: 1px solid #1c1e23;
	transition: 0.5s;
	display: none;
}

.decline-button
{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: rgb(57,63,68);
	background: linear-gradient(0deg, rgba(57,63,68,1) 0%, rgba(77,84,88,1) 100%);
	color: #ffffff;
	text-decoration: none;
	font-weight: 600;
	padding: 0 20px;
	border: 1px solid;
	border-color: #2f3034 #2f3034 #232427;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
	border-radius: 3px;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
}

.accept-button
{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #3b5ca0;
	color: #ffffff;
	text-decoration: none;
	font-weight: 600;
	padding: 0 20px;
	border: 1px solid;
	border-color: #2d477b #2d477b #263c68;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
}

.fw
{
	width: 100%;
}

.hw
{
	width: 50%;
}