<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "kz.mindtape.healthy"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Healthy</name>

  <description>
      Search a health and beauty companies in your city.
  </description>

  <author href="mindtape.github.io" email="master@mndtp.com">
      Lord Nerml
  </author>

</widget>