html, body
{
	height: 100%;
}

body
{
	font-family: 'Roboto', sans-serif;
	background: #ffffff;
	color: #6c7486;
}

input { font-family: 'Roboto', sans-serif; }

.container
{
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
}

h1, h2, h3, h4, h5
{
	color: #3f4656;
}

.fw
{
	width: 100%;
}

.input-field 
{
	box-sizing: border-box;
	border: 1px solid #e4ecfa;
	height: 45px;
	line-height: 45px;
	padding: 0 15px;
	border-radius: 5px;
}



.input-margin
{
	margin: 5px 0;
}

.input-button
{
	border: 0;
	outline: 0;
	box-sizing: border-box;;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #ffffff;	
	background: #275efe;
	border-radius: 5px;
	font-size: 12pt;
}

.phone-input
{
	box-sizing: border-box;
	display: flex;
	width: 100%;
}

.phone-input-field
{
	box-sizing: border-box;
	border: 1px solid #e4ecfa;
	height: 45px;
	line-height: 45px;
	padding: 0 15px;
	border-radius: 0 5px 5px 0;
	flex: 1;
}

.phone-input-add-on
{
	align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    background: #e4ecfa;
    height: 45px;
}

.additional-info 
{
	font-size: 9pt;
	text-align: center;
	margin-top: 10px;
}

a 
{
	text-decoration: none;
	color: #275efe;
}

.loading-screen
{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #275efe;
}