* { margin: 0; }
body, html { height: 100%; }
body
{
	background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
 	background-blend-mode: screen;
	font-family: 'Open Sans', sans-serif;
	color: #455065;
}

.container
{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 15px;
		display: flex;
    flex-direction: column;
}

.sp-content
{
	flex: 1 0 auto;
}

.sp-content p
{
	font-size: 24pt;
	color: #ffffff;
	font-weight: 500;
	margin-top: 15vh;
}

.sp-bottom-buttons
{
	flex: 0 0 auto;
}

.sp-bottom-buttons .button
{
	margin-top: 10px;
}

.button
{
	box-sizing: border-box;
	background: #204ecf;
	color: #ffffff;
	border-radius: 5px;
	height: 60px;
	line-height: 60px;
	padding: 0 10px;
	text-align: center;
}

.white
{
	background: #ffffff;
	color: #204ecf;
}

.fw { width: 100%; }

.modal-wrapper
{
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 25px;
	
}

.modal-window
{
	box-sizing: border-box;
	margin: 0 auto;
	margin-top: 15vh;
	box-shadow: 0 1px 1px 0 rgba(19,25,77,0.15), 0 1px 10px 0 rgba(19,27,78,0.15);
}

.modal-header
{
	box-sizing: border-box;
	background: #ffffff;
	border-radius: 5px 5px 0 0;
	text-align: center;
	padding: 15px;
	border-bottom: 1px solid #d8d8d8;
}

.modal-content
{
	box-sizing: border-box;
	background: #ffffff;
	border-radius: 0 0 5px 5px;
	padding: 15px;
}

.modal-content p
{
	color: #8f96a3;
}

.modal-buttons
{
	text-align: right;
	text-transform: uppercase;
	font-weight: 500;
	margin-top: 20px;

}

.modal-buttons a
{
	text-decoration: none;
	color: #8f96a3;
}

.mb-active
{
	color: #204ecf !important;
	margin-left: 10px;
}