html, body
{
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
}

body
{
	font-family: Arial;
	font-size: 11pt;
}

.container
{
	box-sizing: border-box;
	height: 100%;
	display: flex;
    flex-direction: column;
    padding: 20px;
}

.button
{

	box-sizing: border-box;
	vertical-align: top;
	display: inline-block;
	height: 40px;
	line-height: 39px;
	padding: 0 10px;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
	border: 1px solid;
	border-radius: 3px;
	color: #ffffff;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #47494f;
	border-color: #2f3034 #2f3034 #232427;
	background-image: linear-gradient(to bottom, #55585f, #47494f 66%, #3d3f44);
	font-weight: 600;
	text-align: center;
}

.gray
{
	color: #7f889e;
	background: rgb(222,222,222);
	background-image: linear-gradient(to bottom, #f5f8fb, #e9edf3);
	border-color: #dedede;
	text-shadow: 0 1px rgba(255, 255, 255, 0.7);
}

.blue
{
	background: rgb(0,108,224);
	background: linear-gradient(0deg, rgba(0,108,224,1) 0%, rgba(53,149,252,1) 100%);
	border-color: #007bff;
}

.left-half
{
	border-radius: 0;
	border-radius: 3px 0 0 3px;
}

.right-half
{
	border-radius: 0;
	border-radius: 0 3px 3px 0;
}

.f-w { width: 100%; }

.log-buttons
{
	display: flex; flex-wrap: wrap;
	flex: 0 0 auto;
	margin-bottom: 10px;
}

.log-button
{
	box-sizing: border-box; 
	flex-shrink: 0;
	width: 50%;
}

.log-logo
{
	flex: 1 0 auto;
}

.input
{
	box-sizing: border-box;
	display: inline-block;
	background: #ffffff;
    border: 1px solid;
    border-color: #b3c0e2 #bcc5e2 #c0ccea;
    border-radius: 3px;
    height: 40px;
    line-height: 38px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
    padding: 0 10px;
}

.label
{
	color: #7f889e;
	font-size: 11pt;
	margin: 5px 0;
}

.settings-header
{
	box-sizing: border-box;
	width: 100%;
	box-sizing: border-box;
	vertical-align: top;
	display: inline-block;
	height: 40px;
	line-height: 39px;
	padding: 0 10px;
	border: 1px solid;
	border-right: none;
	border-left: none;

	box-shadow: inset 0 1px white;

	font-weight: 600;
	text-align: center;
	    text-shadow: 0 1px rgba(255, 255, 255, 0.7);
	color: #7f889e;
	background: rgb(222,222,222);
	background-image: linear-gradient(to bottom, #f5f8fb, #e9edf3);
	border-color: #dedede;
	border-bottom: 1px solid #c5ccdb;
}

.settings-container
{
	box-sizing: border-box;
	width: 100%;
	padding: 10px 20px;
	background: #f3f6fa;
}